$mainColor : #5565ff;
body{
    background-color: $mainColor;
    display: flex;
    justify-content: space-between;

    a{
        transform: scale(1.5);
        border: #fff;
        font-size: 3em; 
        color: #fff;
    }
}

@import 'main.scss';