// variables
$mainColor: #444;
$mainBackground: #fff;

$container: 1170px;
$colGups: 15px;


$textFont-size: 1rem;  // 16px
$linkColor: blue;

$breakpoints: (
        xs: 0,
        sm: 575px,
        md: 768px,
        lg: 1025px,
        xl: 1200px,
        xxl: 1440px
);



  //===========  mixins start ===========//

// columns
$columns: 12;


@each $breakpoint in $breakpoints {
  $name: nth($breakpoint, 1);
  $size: nth($breakpoint, 2);
  @media only screen and (min-width: $size) {
    [class*="col-#{$name}"] {
      box-sizing: border-box;
      flex: 0 0 auto;
      padding-right: $colGups;
      padding-left: $colGups;
    }
    @for $i from 1 through $columns {
      .col-#{$name}-#{$i} {
        flex-basis: 100% / $columns * $i;
        max-width: 100% / $columns * $i;
      }
    }
    @for $i from 1 through $columns {
      .col-#{$name}-offset-#{$i} {
        margin-left: 100% / $columns * $i
      }
    }
  }
}


.container{
  max-width: $container;
  width: 100%;
  margin: 0 auto;
}


// layout

.row{
  display: flex;
  flex-wrap: wrap;
  margin-right: -$colGups;
  margin-left: -$colGups;
}

[class^='col']{
  padding-left:$colGups;
  padding-right:$colGups;
  width: 100%;
  min-height: 1px;
}



// main styles

body{
  font-family: sans-serif;
  font-size: 1rem;
}

//buttons
a, button{
  transition: .3s ease-in;
  transition-property: color, background-color, opacity;
  svg{
    fill:currentColor;
  }
}
button, .button{
  cursor: pointer;
}

.button{

}

.ba-header{
  &__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
