// variables
$mainColor: #444;
$mainBackground: #fff;

$container: 1170px;
$colGups: 15px;


$textFont-size: 1rem;  // 16px
$linkColor: blue;

$breakpoints: (
        xs: 0,
        sm: 575px,
        md: 768px,
        lg: 1025px,
        xl: 1200px,
        xxl: 1440px
);
